*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 600;
}

main{
    
    min-height: 100vh;
    background: linear-gradient(to right top,#65dfc9 , #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass{
    background: white;
    margin: 0px auto 0px;
    width: 400px;
    background: linear-gradient(to right bottom , rgba(255,255,255,0.7),rgba(255,255,255,0.3) );
    border-radius: 10px;
    padding: 40px 30px 70px;
}

#glass h2{
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

h2{
    color: #658ec6;
    letter-spacing: 1px;
}

input{
    border-radius: 5px;
    border: 2px solid rgba(255,255,255,0.3);
    margin-top: 10px;
    height: 44px;
    width: 250px;
    padding-left: 10px;
}

button{
    margin-top: 20px;
    background-color: #65dfc9;
    border-radius: 4px;
    height: 44px;
    font-weight: 600;
    padding: 0 25px;
    letter-spacing: 1px;
    border: none;
    color: white;
}

button:hover{
    cursor: pointer;
}

#todoList p{
    margin: 10px 0px;
    padding: 12px 8px 12px 50px;
    font-size: 30px;

}
#todoList p:hover{
    cursor: pointer;
}